@import url('https://fonts.google.com/specimen/Space+Mono');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 41%, 84%);

    .logo {
        text-align: center;
        margin-bottom: 40px;
    }

    .content {
        display: flex;
        justify-content: space-between;
        width: 100%;

        padding: 20px;
        border-radius: 10px;

        color: hsl(186, 14%, 43%);
        background-color: hsl(0, 0%, 100%);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        font-weight: 700;
        font-family: 'Space Mono', monospace;

        .left-content {
            flex: 1;
            padding: 20px;

            @mixin input {
                padding: 5px;
                margin-top: 5px;
                text-align: right;
                font-family: 'Space Mono', monospace;
                border: none;
                border-radius: 5px;
                background-color: hsl(185, 41%, 84%);
                cursor: pointer;
            }

            .bill {
                font-size: 12px;
                margin-bottom: 20px;

                input {
                    @include input;
                }
            }

            .tips {
                font-size: 12px;
                margin-bottom: 20px;

                .tips-grid {
                    display: grid;
                    margin-top: 5px;
                    grid-template-columns: repeat(3, 55px);
                    grid-gap: 5px;
                }
            }

            .people {
                font-size: 12px;

                input {
                    @include input;
                }
            }
        }

        .right-content {
            flex: 1;
            padding: 20px;
            border-radius: 10px;
            background-color: hsl(183, 100%, 15%);

            @mixin amount {
                h3 {
                    margin: 2px;
                    font-size: 12px;
                    color: hsl(0, 0%, 100%);
                }

                label {
                    font-size: 10px;
                }
            }

            @mixin amount-value {
                flex: 1;
                padding-top: 5px;
                font-size: 24px;
                text-align: right;
            }

            .wrapper {
                display: flex;
                justify-content: space-between;
                margin-bottom: 40px;

                .tip-amount {
                    @include amount;
                }

                .tip-amount-value {
                    @include amount-value;
                }
            }

            .wrapper2 {
                display: flex;
                justify-content: space-between;

                .total {
                    @include amount;
                }

                .total-value {
                    @include amount-value;
                }
            }
        }
    }
}